#root {
  
  padding: 2rem;
  text-align: center;
  
  color: #000;
}
@font-face {
  font-family: 'Avengers';
  src: url('./fonts/avengers-font.ttf') format('TrueType');
}

.hero-container{
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  

}




h1{
  font-family: 'Avengers';
  font-size: 10em;
  color: #9f2828;
  
  animation: logo-move linear both;

  animation-timeline: scroll();

}

@keyframes logo-move {
  to{
    scale: 3;
    opacity: 0;
    display: none;
  }
  
}

@keyframes logo-fadeIn {
  from{
    opacity: 0;
  }  
  to{
    opacity: 1;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.intro-container{
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.intro-container .logo{
  height: 200px;
}

.heroes-search{
  background-color: transparent;
  width: 300px;
  border: none;
  color: #000;
  border-bottom: 1px solid black;
  text-align: center;
}

.heroes-search:focus{
  outline: none;

}

.heroes-search::placeholder{
  padding: 2%;
  font-size: 1.2em;
  color: #000;
  opacity: 0.5;
  text-align: center;
  border-bottom: 1px solid black;
}

.gallery-container{
  display: grid;
  justify-items: center;
}

.gallery-grid{
  width: 80%;
  display: grid;
  justify-items: center;
  padding: 0 2%;
}

.gallery-container .gallery-grid img{
  border-radius: 8px;
  width: 60%;
  margin-bottom: 32px;
  
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
}

.gallery-container h2{
  font-size: 32px;
  font-weight: 800;
}

.gallery-grid{
  padding: 16px 32px;
  column-gap: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

#dep-hero:hover{
  filter: grayscale(80%);
  outline: 1px solid rgb(213, 64, 64);
  box-shadow: 0 0 10px rgba(209, 81, 81, 0.657);
}

@media ( width <= 780px){
  h1{
    font-size: 4em;
    color: #9f2828;
    
    animation: logo-move linear both;
  
    animation-timeline: scroll();
  
  }
  
  .gallery-grid{
    grid-template-columns: 1fr 1fr;
    padding-left: 0 ;
    padding-right: 0;
  }

  .intro-container{
    height: auto;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

}

@keyframes reveal {
  from{
    opacity: 0;
    translate: 0 100px;
    scale: .9;
  }
  to{
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}